h1,h2,h3,h4,h5,h6,p {
    font-family:"Cambria"
}

h1 {
    font-weight:bold;
    font-size:2.00em;
    text-align:center;
}

h2 {
    font-weight:bold;
    font-size:1.50em;
    margin-left:1.00em;
}

h3 {
    font-weight:bold;
    font-size:1.20em;
    margin-left:1.00em;
}

h4 {
    font-weight:bold;
    font-size:1.10em;
    margin-left:1.00em;
}

h5 {
    font-weight:bold;
    font-size:1.00em;
    margin-left:1.00em;
}

h6 {
    font-weight:normal;
    font-size:1.00em;
    margin-left:1.00em;
}

p {
    font-size:1.00em;
    text-align:justify;
}
